/* Палитра цветов */
/*
    Белый: #FCFBFB #f2f1f1
    Чёрный: #464747
    Оранжевый: #E46C3A (светлый)
    Серый: #DFB9A3 (серо-бежевый)
    Оранжево-розовый: #FC9964 (почти) (тёмный)
    Золотой: ffd700
*/

* {
    color: #464747;
}

body {
    background-color: black;
    background-image: url(/static/css/fabric-of-squares.png);
}


.site-name {
    text-align: center;
}

@font-face {
    font-family: PFChampion; /* Гарнитура шрифта */
    src: url(/static/fonts/PFChampionScriptPro-Bold.otf);  Путь к файлу со шрифтом
   /*src: url("/static/fonts/MADEEvolveSansEVO-Thin.otf");   Путь к файлу со шрифтом*/
}


/*Стили только для смартфонов*/
@media screen and (max-device-width:480px){
    @media (orientation: portrait) {

    }
    /*Далее остальные стили*/
}

/*Стили только для планшетов*/
@media screen and (min-device-width:481px){
    @media (orientation: portrait) {
        .site-name {
            font-size: 72pt;
            animation: 3s sitename;
        }

    }
    /*Далее остальные стили*/
}

/*Стили только для десктопов*/
@media screen and (min-width:769px){
    /*Далее остальные стили*/

    body {
        width: 100%;
        overflow: hidden;
        /*max-width: 1600px;*/
        /*border: 1px solid #ffd700;*/
        min-height: 100vh;
        margin: auto;
    }
    .site-name {
        font-family: BehrensKursivC;
        font-size: 128pt;
        animation: 3s sitename;
        line-height: 90vh;
        color: #ffd700;
        text-shadow: 0px 0px 10px, -1px -1px 0px white, 1px 1px 0px black;
    }
    .rowmaxh {
	    height: 100vh;
	    background-color: #80808080;
    }
    .rowmaxh::before {
        content: '';
        position: absolute;
        right: 0;
        height: 2em;
        bottom: 0px;
        left: 0px;
        z-index: -1;
        background: #80808080;
        /*transform: perspective(10px) rotatey(-3deg);*/
	}
	.rowcontflex {
	    height: 10vh;
        justify-content: center;
        color: gold;
        display: flex;
        flex-direction: row;
        animation: 2s bottin;
	}
@font-face {
    font-family: DualityRegular; /* Гарнитура шрифта */
    src: url(/static/fonts/DualityRegular.otf);
}
@font-face {
    font-family: RageItalicLET; /* Гарнитура шрифта */
    src: url(/static/fonts/RageItalicLET.ttf);
}
@font-face {
    font-family: BehrensKursivC; /* Гарнитура шрифта */
    src: url(/static/fonts/BehrensKursivC.ttf);
}
	.itemflex {
	    padding: 0.5%;
        margin: 1%;
	    color: gold;
	    font-size: 24pt;
	    font-family: BehrensKursivC;
	}
	.itemflex:hover {
	    text-shadow: 0px 0px 30px gold;
	    cursor: pointer;
	    /*
	    background-color: #ffd70080;
	    border-radius: 30px;;*/
	}
	.colcontflex {
	    margin-boеtom: 3em;
        justify-content: space-around;
	    display: flex;
	    flex-direction: column;
	}
    /* Анимации */
    /*
        sitename: появление названия сайта.
    */

    @keyframes sitename {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes bottin {
        from {
            opacity: 0;
            margin-top: 10vh;
        }
        to {
            opacity: 1;
            margin-top: 0vh;
        }
    }
}