@media screen and (max-device-width: 480px) {}

@media screen and (min-device-width: 481px) {}

@media screen and (min-width: 769px) {
    .katalogfilter {
        display: flex;
        justify-content: space-around;
        height: 200px;
    }
    .katalogitem {
        height: 100%;
        width: 200px;
    }
    .katalogitem:hover {
        box-shadow: 0px 0px 10px 3px blue;
    }
    .katalogitemdesc {

    }
    .leftpanel {
        position: fixed;
        width: 236px;
        padding: 7px;
        margin: 0px 25px;
        left: 0px;
    }
    .leftpanel a {
        text-decoration: none;
    }
    .leftpanel p {
        margin-bottom: 7px;
    }
    .panel {
        margin-left: 300px;
        margin-top: 25px;
        margin-right: 25px;
        padding: 7px;
        border: 1px solid black;
    }
}