{% extends "base.html" %} {% load staticfiles %} {% block title %}Главная{% endblock title %} {% block style %}
<link rel="stylesheet" href="{% static 'css/base-2.css' %}">
<!--<link rel="stylesheet" href="{% static 'css/my-slider.css' %}"/>-->
<link rel="stylesheet" href="{% static 'css/acc-2.css' %}" />
{% endblock style %} {% block script %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/ism-2.2.min.js' %}"></script>
<script src="{% static 'js/myjs.js' %}"></script>
{% endblock script %} {% block body %}
<div class="row" style="position: sticky; top: 0; z-index: -1;">
    <!--<div class="card-img-overlay">
        <div class="site-name">Тorien</div>
    </div>-->
    <video loop="" muted="" autoplay="" class="embed-responsive-item" width="100%" height="auto" allowfullscreen="">
        <source src="/media/video.mp4">
    </video>
</div>
{% include "navmenu.html" %}
<div id="start" class="spacer-50"></div>
<div id="start" class="spacer-25"></div>
<div class="title">
    <span>Коллекции</span>
</div>
<div id="start" class="spacer-25"></div>
<div class="row">
    <div class="kollections">
        {% for item in kolls %}
        <div class="kollection">
            <div class="kollection-img" style="background-image: url(/media/{{item.mainInfo.image_path}});"></div>
            <div class="kollection-name">{{item.mainInfo.name}}</div>
            <div class="kollection-desc">{{item.mainInfo.description}}</div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="spacer-50"></div>
<div class="title">
    <span>Ассортимент</span>
</div>
<div id="start" class="spacer-25"></div>
<div class="row">
    <div class="flex">
        {% for item in katalog %}
        <a href="/alltovar/?category={{item.name}}" class="flexitem" style="background-image: url(/media/{{item.image_path}});">
            <div>
                <p class="name">{{item.name}}</p>
                <p class="count">{{forloop.counter|add:"7"}} шт.</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<script>
    // function smallSiteName () {
    //   $( ".site-name" )
    //     .animate({ fontSize: "72pt" }, 1500 )
    //     .animate({ lineHeight: "30vh" }, { duration: 1500, queue: false })
    //     .animate({ height: "30vh" }, 100 );

    //     $("#content").addClass("content bordercontent").css("display", "flex").delay(1500).animate({ opacity: "1" }, 1000);
    // }

    $("#kollections").click(function () {
        $("#kollections .itemmenudropdown").toggle();
    });

    $("#kategory").click(function () {
        $("#kollections .itemmenudropdown").toggle();
    });
    // $("#collection").click(function() {
    //     $( "#content" ).html("");
    //     $.ajax({
    //       url: "kollections/",
    //       success: function( result ) {
    //         $( "#content" ).html( result );
    //       }
    //     });
    //     smallSiteName();
    // });

    // $("#allkategories").click(function() {
    //     $( "#content" ).html("");
    //     $.ajax({
    //       url: "allkategories/",
    //       success: function( result ) {
    //         $( ".content" ).html( result );
    //       }
    //     });
    //     smallSiteName();
    // });
</script>
{% endblock body %}