{% extends "base.html" %} {% load staticfiles %} {% block title %}Каталог{% endblock title %} {% block style %}
<link rel="stylesheet" href="{% static 'css/base-2.css' %}">
<link rel="stylesheet" href="{% static 'css/katalog.css' %}">
{% endblock style %}{% block body %}
{% include "navmenu.html" %}
<div class="row">
    <div class="leftpanel">
        <h1>Фильтр товара</h1>
    {% for item in katalog %}
        <p><a href="{{item.id}}/">{{item.name}}</a></p>
    {% endfor %}
    </div>
    <div class="panel">

    </div>
</div>
</div>
{% endblock body %}