<div id="notclick" style="width: 350px;
height: 200px; margin: auto;">
{% if message == '' %}
<form method="post" action="javascript:void(null);" onsubmit="call()" id="ajax_form" autocomplete="off">
    {% csrf_token %}
    {{form.non_field_errors}}
    <div class="formloginfield">
        {{form.username.errors}}
        <label for="id_username">Логин</label>
        {{form.username}}
    </div>
    <div class="formloginfield">
        {{form.password.errors}}
        <label for="id_password">Пароль</label>
        {{form.password}}
    </div>
    <input type="submit" value="Вход" id="btn">
    <div class="button">
        <p>Отмена</p>
    </div>
<div id="result_form"></div>
</div>
</form>
{% endif %}
<script type="text/javascript" language="javascript">
    function call() {
        var msg = $('#ajax_form').serialize();
        $.ajax({
            type: 'POST',
            url: '/login/',
            data: msg,
            success: function (data) {
                result = $.parseJSON(data);
                if (result.message === 'ok') {
                    window.open('/', '_self');
                } else {
                    $('#result_form').html(data);
                }
            },
            error: function (xhr, str) {
                alert('Возникла ошибка: ' + xhr.responseCode);
            }
        });
    }
    $(".button").click(function(){
        $("#loginshow").css("opacity", "0");
        $("#loginshow").css("z-index", "-100");
    });
</script>