<nav class="navbackground">
    <!--<div style="margin: auto;"><a href="#start" class="site-name">Тorien</a></div>-->
    <ul>
        <li><a href="/" style="font-family: BehrensKursivC;">Тorien</a></li>
        <li><a href="#">Коллекции</a>

            <!-- первый уровень выпадающего списка -->
            <ul>
                <li><a href="#">Themes</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Tutorials</a></li>
            </ul>

        </li><li><a href="/alltovar/" {% if selectnavmenu == 'katalog'%}class="selectnavmenu"{% endif %}>Товары</a></li>
        <li><a href="#">Галерея</a></li>
        <li><a href="/contacts/" {% if selectnavmenu == 'contacts'%}class="selectnavmenu"{% endif %}>Контакты</a></li>
        <li><a href="/about/" {% if selectnavmenu == 'about'%}class="selectnavmenu"{% endif %}>О нас</a></li>
        <li style="width: 3vw;"></li>
        {% if user.is_authenticated %}
        <li><a href="/myroom/" {% if selectnavmenu == 'myroom'%}class="selectnavmenu"{% endif %}>{{user.get_username}}</a></li>
        <li><a href="/logout/">Выход</a></li>
        <li><a href="#">Корзина</a></li>
        {% else %}
        <li>
            <div id="login">Вход</div>
        </li>
        {% endif %}
    </ul>
</nav>
            <div id="loginshow"></div>
<script>
    $("#login").click(function () {
        $.ajax({
            url: "/login/",
            success: function (result) {
                $("#loginshow").html(result);
                if ($("#loginshow").css("opacity") === "0") {
                    $("#loginshow").css("opacity", "1");
                    $("#loginshow").css("z-index", "100");
                }else{
                    $("#loginshow").css("opacity", "0");
                    $("#loginshow").css("z-index", "-100");
                }
            }
        });
    });
    $("#userpage").click(function () {
        $("#userform").html("");
        $.ajax({
            url: "/login/",
            success: function (result) {
                $("#userform").html(result);
                if ($("#usershow").css("opacity") === "1") {
                    $("#usershow").css("opacity", "0");
                    $("#usershow").css("top", "-400%");
                }else{
                    $("#usershow").css("opacity", "1");
                    $("#usershow").css("top", "100%");
                }
            }
        });
    });
</script>